* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2,p,ul,a {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
    text-decoration:none;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #64bdb6, #44d4c8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom,  rgba(255, 255, 255, 0.7),  rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}
.circle1,.circle2 {
    background: white;
    background: linear-gradient(to right bottom,  rgba(255, 255, 255, 0.8),  rgba(255, 255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 3%;
    right: 5%;
}
.circle2 {
    bottom: 5%;
    left: 5%;
}
.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom,  rgba(255, 255, 255, 0.7),  rgba(255, 255, 255, 0.3)
    );
    border-radius: 3rem;
}


.tasks {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    display: flex;
    background: linear-gradient(  to left top,  rgba(255, 255, 255, 0.8),  rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
}

form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

form input{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    width: 20rem;
}

form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
}

form button {
    color: #1073b4;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #d6d6d6;
    color: #1073b4;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}
.todo {
    margin: 0.5rem;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    width: 45rem;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background:  #b82424;
    color:  #d6d6d6;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
}

.complete-btn {
    background:  #1073b4;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,.fa-check {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appeareance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    color: #d6d6d6;
}

select {
    font-family: 'Poppins', sans-serif;
    color:#23283D;
    width: 18rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #5A82A8;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    color:#000000;
}